*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: "Poppins", sans-serif;
}


/* Typography */
h1{
    font-size: 4rem;
    margin: 0;
    font-weight: 400;
    /* border: 1px solid red; */
}

.logo, .sub-heading{
    color: #F24E1A;
}

.logo{
    font-weight: 700;
    /* border: 1px solid green; */
}

.sub-heading{
    font-weight: 700;
    font-size: 2rem;
    margin:0;
    /* border: 1px solid black; */
}

header{
    padding: 1rem 1rem 2rem;
    /* border: 1px solid magenta; */
}

.desc{
    color: #fff;
}

/* Buttons */
.btn{
    display: inline-block;
    background-color: #F24E1A;
    color: #fff;
    border: none;
}

.login{
    padding: 0.5rem 1.5rem;
    border-radius: 20px;
}

.primary{
    padding: 0.5rem 1.5rem;
    border-radius: 5px;
}

/* Navigation */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3rem;
}

ul{
    display: flex;
    list-style-type: none;
    gap: 2rem;
}

a{
    text-decoration: none;
    color: #000;
}


/* Layouts */
.container {
    margin: 0 auto;
    border-radius: 20px;
    width: 90%;
    padding: 2rem 1rem;
    background-image: url("./image-3.jpg");
    background-size: cover;
    background-position: center;
}

.intro {
    width: 50%;  /* Text limited to 50%, rest is empty */
}